<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tech-E</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../static/images/Logo/TE.png" alt="Logo" id="Logo"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#"
                > <i class="fa-solid fa-house"></i> Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            
            
            <li class="nav-item dropdown" id="Dropdown" aria-labelledby="navbarDropdown">
                
              <a
                
                class="nav-link dropdown-toggle active"
                data-bs-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="true"
                ><i class="fa-solid fa-mobile-screen"> </i> All Brands</a>
              <div class="dropdown-menu" style="background-color: blueviolet;">
                <a class="dropdown-item" href="#">IPHONE</a>
                <a class="dropdown-item" href="#">SAMSUNG</a>
                <a class="dropdown-item" href="#">1PLUS</a>
                <a class="dropdown-item" href="#">ZTE</a>
                <a class="dropdown-item" href="#">NOKIA</a>
              </div>
            </li>
            

            <li class="nav-item">
                <a class="nav-link active" href="#"> <i class="fa-solid fa-info"></i> About Us</a>
            </li>

          </ul>

          <ul  class="navbar-nav me-auto">
            <form class="d-flex" id="search" >
                <input
                  class="form-control me-sm-2"
                  type="search"
                  placeholder="Search"                 
                />
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                  Search
                </button>
                
              </form>
          </ul>

          <ul class="navbar-nav me-auto">
            <li >
                <a class="nav-link active" href="#" id="signin"><i class="fa-solid fa-user" ></i> Sign In</a>
            </li>
            <li >
                <a class="nav-link active" href="#" id="signin"><i class="fa-solid fa-heart"></i> Wish List</a>
            </li>
            <li >
                <a class="nav-link active" href="#" id="signin"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav>

    {% block body %} {% endblock body %}

    <footer>
      <small>
        <p id="Footer">TECH-E & CO 2023</p>
      </small>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
