/* Styling for the footer */
/* to fix it at the bottom of the page */
#Footer {
    color: whitesmoke; /* Text color for the footer */
    text-align: center; /* Center-align the text */
    margin-top: auto; /* Push footer to the bottom */
    position: absolute; /* Absolute positioning */
    bottom: 0; /* Stick to the bottom of the container */
    width: 100%; /* Set full width */
}


/* Styling for the logo */
#Logo {
    width: 4rem; /* Set the width of the logo */
}

/* Styling for the search bar container */
#search {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    margin-right: 3.5rem; /* Right margin for spacing */
}

/* Styling for the search input field */
#search input[type="search"] {
    background-color: white; /* Background color of the input */
    width: 30rem; /* Set the width of the input field */
    color: black; /* Text color for typed text */
}

/* Styling for the dropdown menu */
#Dropdown.dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown menu on hover */
}

/* Styling for the search input placeholder */
#search input[type="search"]::placeholder {
    color: black; /* Placeholder text color */
}
  
